/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*--- Colors ---*/
/*--- Others ---*/
.profile {
  margin-top: 50px;
  margin-bottom: 90px;
  padding: 0 5%;
}
@media (min-width: 1600px) {
  .profile {
    padding-left: 12%;
    padding-right: 12%;
  }
}

.profile__title {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 125%;
  letter-spacing: 0.065em;
  color: #262626;
  margin-bottom: 40px;
}
.profile__title .accent {
  color: #5bbb76;
}

.profile__subtitle {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 125%;
  letter-spacing: 0.065em;
  text-transform: capitalize;
  color: #262626;
  margin-bottom: 20px;
  display: block;
}

.profile__avatar {
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
  margin-bottom: 10px;
}

.profile__avatar-input {
  margin-bottom: 20px;
}

.profile__change-avatar {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.065em;
  text-transform: capitalize;
  color: #262626;
  margin-bottom: 10px;
  display: block;
}

.profile__change-btn {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 125%;
  letter-spacing: 0.035em;
  color: grey;
  padding: 4px 6px;
  background-color: transparent;
  box-shadow: 0 2px 2px rgba(38, 38, 38, 0.24);
  border-radius: 5px;
  border: 2px solid grey;
  cursor: pointer;
  transition-duration: 350ms;
  margin-bottom: 5px;
}
.profile__change-btn:hover, .profile__change-btn:focus {
  outline: none;
  box-shadow: 0 4px 4px rgba(38, 38, 38, 0.24);
}

.profile__advice {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 177%;
  letter-spacing: 0.065em;
  color: #262626;
  font-size: 12px;
  color: grey;
  margin-bottom: 20px;
}

.profile__logout-btn {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.065em;
  color: #5bbb76;
  padding: 5px 8px;
  background-color: transparent;
  box-shadow: 0 2px 2px rgba(38, 38, 38, 0.24);
  border-radius: 5px;
  border: 2px solid #5bbb76;
  cursor: pointer;
  transition-duration: 350ms;
  min-width: 150px;
}
.profile__logout-btn:hover, .profile__logout-btn:focus {
  outline: none;
  color: #fbfbfb;
  background-color: #5bbb76;
  box-shadow: 0 4px 4px rgba(38, 38, 38, 0.24);
}

/*# sourceMappingURL=Profile.css.map */
