@import '../../assets/styles/main';

.main {
  flex-grow: 1;
}

.notFound {
  position: absolute;
  width: 100%;
  top: 20%;
  text-align: center;

  & h1 {
    font-size: 48px;
  }

  & h3 {
    @include text-font();
    font-size: 28px;
    text-decoration: none;
    transition: 0.4s ease-in;
  }

  & a {
    @include text-font();
    font-size: 28px;
    text-decoration-line: underline;
    transition-duration: 300ms;

    &:hover {
      outline: none;
      color: $green;
    }
  }
}
