@import '../../assets/styles/main';

.select {
  height: 25px;
  min-width: 100px;
  border-radius: 2px;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  option {
    @include main-font(normal, 14px);
    line-height: 125%;
    color: $dark;
  }
}