@import '../../assets/styles/main';

.header {
  background-color: $dark;
  box-shadow: $shadow;
  padding: 15px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: 1600px) {
    padding-left: 12%;
    padding-right: 12%;
  }
}

.header__logo {
  flex-grow: 1;
}

.sign-wrapper {
  position: relative;
  top: 5px;
}

.sign {
  cursor: pointer;

  & img{
    transition-duration: 350ms;
  }

  &:hover img,
  &:focus img{
    outline: none;
    transform: translateY(-3px);
  }
}

.sign__up {
  margin-right: 10px;
}

.header-avatar {
  border-radius: 50%;
  position: relative;
  top: 5px;
}